streamlit
extra-streamlit-components
google-genai
streamlit-paste-button
gpt4all
torch --index-url https://download.pytorch.org/whl/cpu
transformers
diffusers
accelerate
pillow
sentencepiece
huggingface_hub
safetensors
imageio
imageio-ffmpeg